* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: rgb(41, 57, 57);
  font-size: 20px;
}

.navbar {
  background-color: bisque;
}

.nav-link {
  color: firebrick;
}

.display-2 {
  background-color: dimgray;
  color: whitesmoke;
}

.btn {
  font-size: 32px;
  background-color: forestgreen;
  color: whitesmoke;
}